        * {
            padding: 0px;
            margin: 0px;
            list-style: none;
        }
        
        body {
    
        }
        
        #wrap {
            margin: 100px auto;
            width: 400px;
            height: 300px;
            overflow: hidden;
            position: relative;
        }
        
        ul li {
            width: 490px;
            height: 300px;
        }
 
        #list {
            position: absolute;
            bottom: 10px;
            right: 150px;
        }
        
        #list li {
            float: left;
            background-color: #1142AA;
            color: #fff;
            font-weight: bold;
            font-size: 15px;
            height: 40px;
            line-height: 40px;
            width: 40px;
            margin-right: 1px;
            text-align: center;
            border-radius: 50%;
            cursor: pointer;
        }
        
        #list .on {
            background: #088bcf;
            color: #fff;
        }

        
        #wrap:hover a {
            display: block;
        }